

# Archivos de compilación
build/
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.out

# Archivos de CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Archivos generados por Qt Creator
*.autosave
*.user
*.user.*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.creator.*
*.creator
*.kate-swp

# Archivos del sistema
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
._*